apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: antigravity
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: antigravity-project-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        env:
        - name: BACKEND_URL
          value: "http://oracle.antigravity.svc.cluster.local:80"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: antigravity
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
