apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: antigravity
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: antigravity-project-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
          name: http-web
        resources:
          limits:
            cpu: "500m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10
        env:
        - name: BACKEND_URL
          value: "http://oracle.antigravity.svc.cluster.local:80"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: antigravity
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
